/* --- navigation bar --- */
header {
}
body {
  background-color: white; 
  font-family:'Poppins', sans-serif;
}
html {
  position: relative;
  min-height: 100% 
}
.navbar {
  border-bottom: 20px solid rgb(66, 136, 163);
}
.logo {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: bold;
  background-color: #4aaaa5;
  padding: 10px;
  color: #fff !important;
}
main {
  margin: 80px 0;
}
#id main body

/* --- about me page --- */


/* --- portfolio page --- */

/* --- contact page --- */
h3.form {
  text-align: center;
  margin-bottom: 20px;
}
form.form {
  display: table;
  margin-left: 50px;
}
div.form {
  display: table-row;
}
label, input {
  display: table-cell;
  margin-bottom: 10px;
}
label {
  padding-right: 10px;

  /* --- sticky footer --- */
/* .footer {
  height: 62px;
  border-top: 6px solid #4aaaa5;
  margin-top: 3px;
  background-color: #666;
  padding-top: 50px;
  color: #bbbbbb; */
}
* {
  box-sizing: border-box;
}
body {
  font: 16px 'Poppins', sans-serif;
}
h1 {
  margin: 0 0 20px 0;
}
p {
  margin: 10 px 0 0 0;
}
* .footer {
  height: 62px;
  border-top: 6px solid #4aaaa5;
  margin-top: 3px;
  background-color: #666;
  padding-top: 50px;
  color: #bbbbbb; 


footer {
  background: #42A5F5;
  color: white;
  line-height: 10px;
  padding: 0 20px;
}

@media only screen and (min-width:800px;/*you can subsequently use AND/OR/NOT to add more rules after this. i.e. 'min-width:800px and max-width:1024px after*/){
  #rule{
    color:blue
  }
}